p{
    font-family: Montserrat;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.model{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 8px;
}
.delivery{
    text-decoration: underline;
}